* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Playfair Display', serif;
}


/*FONDO*/
body{
background-color: #69927a45;
}

/* TODO EL CONTENIDO */

.nav{
    flex-wrap: wrap;
    display: flex;
    
}

/* MENÚ - FONDO IMG*/

.container__logo__menu{
    background-image: url(img/salad1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    
 }
 .container__menu__inicio{
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 150px;
     background-color: #0a090860;
 } 

 /*LOGO CENTRAL*/


.logo__central {
    background-color: #0a090860;
    height: calc(100vh - 150px);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo__letra {
   border: 2px solid #74b08d;
   }

.logo__central h1{
color: #E1E1E1;
}
.logo__central p{
    color: aliceblue;
}

/*PRIMER LOGO*/

.logo__img{
width: 250px;
}


/* PARTE DEL MENU */
 li{
    list-style: none;
   
}

.menuprincipal{  
    flex-wrap: wrap;
    display: flex;
   font-size: 15px;
   
}

.menuprincipal li a{
    padding: 15px 10px;
    color:white;
    text-decoration: none;
}

/*LINKS*/

.nono{
    display: none;
}





/*CARTAS*//*CARTAS*//*CARTAS*//*CARTAS*//*CARTAS*//*CARTAS*/

.cart__container{
    width: 350px;
    margin: 15px;
    margin-top: 100px;
    
}

.cart__container h2{
margin-top: 10px;
}

.cart__container {
    box-shadow: 5px 5px 20px rgba(0,0, 0, 0.2);
}

.cart{
   flex-wrap: wrap;
   display: flex;
   justify-content: center;
   color: rgb(0, 0, 0);
   
}
 .img__platos{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
   margin-top: 5px;
 }
H2{
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

p{
    padding-left: 15px ;
    display: flex;
    justify-content: center;
}

.informacion{
    margin-top: 15px;
}

.description p{
margin: 15px 0px 20px;
}



/*article>p{
    color: blue;
}
article>footer{
    color: blueviolet;
}*/




@media (width<400px) {
    nav{
        display: none;
        
    }
    .luu{
        display: block;
    }
}

@media (width>400px) {

    .luu{
        display: none;
    }
}





