* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Playfair Display', serif;
}


/*FONDO*/
body{
   background-color: #E1E1E1;
}

/* TODO EL CONTENIDO */

.nav{
    flex-wrap: wrap;
    display: flex;
    
}
/*PRIMER LOGO*/

.logo__img{
width: 250px;
}


/* PARTE DEL MENU */
 li{
    list-style: none;
   
}

.menuprincipal{  
    flex-wrap: wrap;
    display: flex;
   font-size: 15px;
   
}

.menuprincipal li a{
    padding: 15px 10px;
    color:white;
    text-decoration: none;
}

/*LINKS*/

.nono{
    display: none;
}


/* MENÚ - FONDO IMG*/

.container__logo__menu{
   background-image: url(img/salad1.jpg);
   height: 100vh;
   background-repeat: no-repeat;

}
.container__menu__inicio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: #0a090860;
}

/*LOGO CENTRAL*/

.logo__central{
    text-align: center;
    justify-content: center;
    background-color: #0a090860;
    height: 100vh;
}



/*CARTAS*/

.cart__container{
    color:#0a0908;
    width: 350px;
    margin: 15px;
    background-color:#A0A493;
    margin-top: 500px;
}

.cart{
   flex-wrap: wrap;
   display: flex;
   justify-content: center;
   
}
 .img{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin: 20px 0px 20px 0px;
 }
H2{
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

p{
    padding-left: 15px ;
    display: flex;
    justify-content: center;
}








/*article>p{
    color: blue;
}
article>footer{
    color: blueviolet;
}*/











