* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Playfair Display', serif;
}


/*IMAGEN*/
body{
   background-image: url(img/megas.jpg);
   background-size: cover;
   object-fit: cover;
   background-repeat: no-repeat;

}

.nav{
    flex-wrap: wrap;
    display: flex;
}
/*LOGO*/
h1{
    color:rgb(207, 147, 212);
    font-size: 45px;
    padding: 5px 0px 5px 5px;

}

 li{
    list-style: none;
   
}

.menuprincipal{  
    flex-wrap: wrap;
    display: flex;
   font-size: 15px;
   
}

.menuprincipal li a{
    padding: 15px 10px;
    color:rgb(207, 147, 212);
    text-decoration: none;
    

}

/*LINKS*/
.nono{
    display: none;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
   background-color: #00000057;
}







.cart__container{
    color:#0a0908;
    width: 350px;
    margin: 15px;
    background-color: #e3ddc8;
    
}

.cart{
   flex-wrap: wrap;
   display: flex;
   justify-content: center;
   
}
 .img{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin: 20px 0px 20px 0px;
 }
H2{
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

p{
    padding-left: 15px ;
    display: flex;
    justify-content: center;
}
.cart__prueba{
    margin-bottom: 20px;
}





/*article>p{
    color: blue;
}
article>footer{
    color: blueviolet;
}*/











